.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    border-radius: rem(10);
    margin: rem(20);
    display: flex;
    flex-direction: column;
    background-color: $darkDesaturatedBlue;

    @include breakpoint-up('desktop'){
        flex-direction: row-reverse;
        width: 80%;
    }

    .image{
        position: relative;
        border-radius: rem(10) rem(10) 0 0;
        max-width: 100%;
        
        background-image: url("../../images/image-header-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        @include breakpoint-up('desktop'){
            background-image: url("../../images/image-header-desktop.jpg");
            background-size: cover;
            height: 445px;
            width: 100%;
            border-radius: 0 rem(10) rem(10) 0;
        }
        height: 250px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: $accent, $alpha: 0.4);
            border-radius: rem(10) rem(10) 0 0;
            @include breakpoint-up('desktop'){
                border-radius: 0 rem(10) rem(10) 0;
            }
        }
    }
    .content{
        padding: rem(24) rem(20);
        display: flex;
        flex-direction: column;
        @include breakpoint-up('desktop'){
            width: 100%;
            align-items: center;

        }

        &__title{
            font-size: rem(26);
            font-weight: 700;
            font-family: $deca;
            color: $white;
            text-align: center;
            margin-bottom: rem(20);
            > span{
                color: $accent;
            }
            @include breakpoint-up('desktop'){
                font-size: rem(38);
                text-align: left;
                margin: 30px 30px 30px 60px;
            }
        }
        &__description{
            color: $transWhite1;
            text-align: center;
            line-height: 1.4;
            margin-bottom: rem(20);
            @include breakpoint-up('desktop'){
                flex-grow: 1;
                text-align: left;
                margin: 0px 120px 30px 60px;
                line-height: 2;
            }
        }
        &__stats{
            display: flex;
            flex-direction: column;
            align-items: center;
            .item{
                text-align: center;
                text-transform: uppercase;
                margin-bottom: rem(20);
                @include breakpoint-up('desktop'){
                    flex-grow: 1;
                    text-align: left;
                }
            }
            .sheader{
                font-family: $deca;
                font-weight: 700;
                font-size: rem(22);
                margin-bottom: rem(7);
            }
            .sname{
                font-size: rem(13);
                color: $transWhite2;
            }
            @include breakpoint-up('desktop'){
                flex-direction: row;
                align-self: stretch;
                margin: 30px 30px 10px 60px;
            }
        }
    }
}