$veryDarkBlue: hsl(233, 47%, 7%);//main bg
$darkDesaturatedBlue: hsl(244, 38%, 16%);//card bg
$accent: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);//main heading, stats
$transWhite1: hsla(0, 0%, 100%, 0.75);//main paragraph
$transWhite2: hsla(0, 0%, 100%, 0.6);//stat headings

$inter: 'Inter', sans-serif;
$deca: 'Lexend Deca', sans-serif;